<div ng-controller="cinemaController as vm">

<div flex-container="row" flex-gutter="24">
    <div flex-item>
        <lx-select ng-model="selects.selectedPerson" placeholder="Lorem Ipsum" choices="people" floating-label>
            <lx-select-selected>
                {{ $selected.name }} - {{ $selected.age }}
            </lx-select-selected>

            <lx-select-choices>
                <span ng-repeat="cinema in vm.cinemas">
				<span> {{cinema.name}} </span>
				
				</span>	
            </lx-select-choices>
        </lx-select>
    </div>
    
</div>

<p ng-repeat="cinema in vm.cinemas">
			<br><span> Nombre cine: {{cinema.name}} </span><br>
				
		</p>	
</div>